project_id           = ""
region               = ""
aiven_project        = ""
aiven_db             = ""
aiven_api_token      = ""
aiven_region         = ""
aiven_pg_plan        = ""
kestra_username      = ""
kestra_password      = ""
ssh_username         = ""
ssh_public_key       = ""
ssh_private_key      = ""
webserver_cidr_range = ""
gcp_vpc              = ""