project_id                 = ""
region                     = ""
aiven_project              = ""
aiven_kafka_plan           = ""
aiven_os_plan              = ""
aiven_api_token            = ""
aiven_region               = ""
kestra_username            = ""
kestra_password            = ""
kestra_license_fingerprint = ""
kestra_license_id          = ""
kestra_license_key         = ""
kestra_encryption_key      = ""
kestra_version             = ""
ssh_username               = ""
ssh_public_key             = ""
ssh_private_key            = ""
webserver_cidr_range       = ""
gcp_vpc                    = ""
docker_creds               = ""
docker_repo                = ""